.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%;
    padding: 0 15px;
  }
  
  .text-container h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .text-container p {
    color: #fff;
    font-size: 1.25rem;
  }
  
  @media (max-width: 767px) {
    .image-container {
      overflow: hidden;
      zoom: 1.5;
    }
  
    .text-container h2 {
      font-size: 0.48rem;
    }
  
    .text-container p {
      font-size: 0.28rem;
    }
  }
  #book {
    background-image: url(https://images.unsplash.com/photo-1535914254981-b5012eebbd15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-repeat: no-repeat;
    background-size: cover;
  }
  